.dropdown-toggle[aria-expanded="true"] {
  background:#15171c !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:#15171c !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.show>.btn-primary.dropdown-toggle:focus , .btn-primary:focus{
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.MuiAccordion-root.Mui-expanded{
  margin:0 !important;
}

/* .MuiTouchRipple-root  {
  display: none;
} */

.ForwardRef-root-17 {
  padding-right: 4px;
}

.ForwardRef-iconButton-18{
  width: 36px !important;
  outline:none !important;
  border:none !important;
}

.ForwardRef-iconButton-18:focus{
  outline:none !important;
  border:none !important;

}